@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
    background-color: rgb(2, 133, 176);
    color: white;
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
    
}

td img{
    height: 50px;
}

.header{
    text-align: center;
    justify-content: center;
    color: white;
    width: 80vw;
    padding: 100vn;
    font-size: 15px;
    flex-direction: column;
    margin: 150px;
}

 

 table{
    width: 80vw;
    border-collapse: collapse;
    margin: 0;
    fill: 0;
    table-layout: fixo;

 }

 tr:nth-child(even){
        background-color: rgb(23, 54, 75);
 }

 table thead tr{
        background-color: rgb(23, 54, 75);
 }
 
 table caption{
        font-size: 1.5em;
        margin: .5em 0 .75em;
 }
 
 table tr{
        border: 1px solid #2b2d33;
        padding: .35em;
}

table th, table td{
        padding: .625em;
        text-align: center;
}

table th{
        height: 40px;
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
}